# Dependencies
node_modules
examples/**/*/yarn.lock
jspm_packages
package-lock.json
yarn.lock

# Logs
*.log
npm-debug.log*
log/*

# Other
.nuxt*
.cache

# Dist folder
dist

# Dist example generation
examples/**/dist

# Coverage support
coverage
*.lcov
.nyc_output

# Visual Studio Code
.vscode
.editorconfig

# Intellij idea
*.iml
.idea

# OSX
*.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Environment variables
env.js

# deploy shells
shells/*

webframework
